# ===================================================
#      Kompletna konfiguracja Netlify (NAPRAWIONA)
# ===================================================

[build]
  functions = "netlify/functions"
  # NAPRAWA: Kropka oznacza bieżący katalog. "/" powodowało błąd 404.
  publish = "."

[dev]
  port = 8888
  publish = "."

# Przekierowania SPA - to naprawia odświeżanie na podstronach
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[context.development.environment]
  AUTH0_WEBHOOK_SECRET = "*x-D$WJ9'Uzt~+"
  AUTH0_AUDIENCE = "https://excercise-app.netlify.app/"
  AUTH0_ISSUER_BASE_URL = "dev-2vw7d462t0vkpx5c.us.auth0.com"