/* GLOWNY PLIK STYLOW - IMPORTY */
@import url('css/variables.css');
@import url('css/global.css');
@import url('css/dashboard.css');
@import url('css/training.css');
@import url('css/modules.css');
@import url('css/responsive.css');